<h2 id="recipe-name">Chicken Pot Pie</h2>
<nav class="">
  <p>Makes<input type="number" class="num-servings" value="8">Servings</p>
  <button type="radio" label="US">US</button>
  <button type="radio" label="Metric">Metric</button>
  <button type="button" name="button">Adjust Recipe</button>
  <a href="#">(Help)</a>
</nav>

{{outlet}}
