<h2 id="recipe-name">Chicken Pot Pie</h2>
<nav class="top-header">
  <div class="servings-calc">
    <p>Makes<input type="number" class="num-servings--input" value="8">Servings</p>
    <button type="button" name="button">Adjust Recipe</button>
    <button type="radio" label="US">US</button>
    <button type="radio" label="Metric">Metric</button>
    <a href="#">(Help)</a>
  </div>
</nav>

  <ul>
    <li class="recipe-items">1 Pound Chicken</li>
    <li class="recipe-items">1 Cup Sliced Carrots</li>
    <li class="recipe-items">0.5 Cup Sliced Celery</li>
    <li class="recipe-items">0.75 Cup Butter</li>
    <li class="recipe-items">0.75 Cup Chopped Onions</li>
    <li class="recipe-items">0.25 Cup Flour</li>
    <li class="recipe-items">2 Pie Crusts</li>
  </ul>

{{outlet}}
