<h2 class="recipe-name">Chicken Pot Pie</h2>
<nav class="top-header">
  <div class="servings-calc">
    <p>Makes<input type="number" class="num-servings-input" value="8">Servings</p>
    <button type="button" name="button" class="adjust-recipe">Adjust Recipe</button>
    <button type="radio" label="US">US</button>
    <button type="radio" label="Metric">Metric</button>
    <a href="#">(Help)</a>
  </div>
</nav>

<ul class="recipe-ingredient-list">
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">1 lb</span>
    <span class="recipe-ingredient__name">Chicken</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">1 Cup</span>
    <span class="recipe-ingredient__name">Sliced Carrots</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">0.5 Cup</span>
    <span class="recipe-ingredient__name">Sliced Celery</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">0.75 Cup</span>
    <span class="recipe-ingredient__name">Butter</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">0.75 Cup</span>
    <span class="recipe-ingredient__name">Chopped Onions</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">0.25 Cup</span>
    <span class="recipe-ingredient__name">Flour</span>
   </li>
  <li class="recipe-ingredient">
    <span class="recipe-ingredient__amount">2</span>
    <span class="recipe-ingredient__name">Pie Crusts</span>
   </li>
</ul>
{{outlet}}
