<h2 id="recipe-name">Chicken Pot Pie</h2>
<nav class="top-header">
  <div class="servings-calc">
    <p>Makes<input type="number" class="num-servings-input" value="8">Servings</p>
    <button type="button" name="button" class="adjust-recipe">Adjust Recipe</button>
    <button type="radio" label="US">US</button>
    <button type="radio" label="Metric">Metric</button>
    <a href="#">(Help)</a>
  </div>
</nav>

<ul class="recipe-ingredient-list">
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
  <li class="recipe-ingredient"></li>
</ul>
{{outlet}}
